@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(239, 233, 233);
}


.register-holder{
    display: flex;
}

.side-img{
    margin-left: 0px;
    background-color: #31B099;
    width: 600px;
    height: 420px;
}

.side-heading{
    background-color: #122231;
    color: white;
    width: 600px;
    padding-bottom: 125px;
}

.side-heading h1{
    padding-top: 20px;
    margin-left: 35px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.side-heading p{
    margin-top: 20px;
    margin-left: 35px;
}

.register-form-container{
    margin-left: 180px;
    margin-top: 50px;
}

.form-container{
    background-color: white;
    padding-bottom: 40px;
    padding-left: 18px;
    width: 500px;
    border-radius: 20px;
}

.register-heading{
    margin-top: 20px;
    margin-left: 80px;
    
}

.register-heading h1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}

.register-heading p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    margin-top: 15px;

}

.back-icon p{
    padding-top: 20px;
    font-weight: bold;
}

.form-start{
    margin-top: 20px;
    margin-left: 10px;
}

input{
    padding: 15px;
    margin-top: 5px;
    padding-right: 250px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.282);
}

.register-button{
    margin-top: 10px;
}

.btn{
    margin-left: 1px;
    width: 430px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #31B099;
    color: white;
}

label{
    font-size: 12px;
    color: rgb(191, 196, 202);
}

.login-account{
 margin-top: 15px;
text-align: center;
}

.login{
    color: #31B099;
}

.input-container{
    position: relative;
}

.toggle-password{
    position: absolute;
    bottom: 29%;
    right: 55px;
    cursor: pointer;
}